div {
    color: yellow;
}

/* Class Selector */
.red {
    background-color: crimson;
}

/* ID Selector */
#green {
    background-color: green;
}

/* Descendant Selector */
div p {
    color: chartreuse;
    background-color: darkslateblue;
}

/* Child Selector */
div>p {
    color: red;
    background-color: aqua;
}

/* Universal Selector */
* {
    margin: 0%;
    padding: 0%;
}

/* Pseudo Selectors */
/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

#psycho p:first-child {
    background-color: darkorchid;
}

/* Attribute Selector */
[art-x=a] {
    background-color: cadetblue;
}