<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
    <link rel="stylesheet" href="/style/cart.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <h1>E-Commerce Website</h1>
      </a>
      <a href="/cart">
        <img src="/images/cart.png" alt="cart" />
      </a>
    </nav>
    <section>Your cart is empty</section>
    <div><%= number %></div>
  </body>

  <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/script/cart.js"></script> -->
</html>
